@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
/* font-family: 
Titulos: 'Roboto' 
Resto: 'sans-serif' */

:root{
    --title-font: 'Roboto';
    --normal-font: 
}
